In [4]:
import pandas as pd
df=pd.read_csv("dataset.csv")
df

   Study_Hours  Marks
0            0    2.9
1            1    5.8
2            2    4.7
3            3    4.0
4            4    1.8
5            5    1.8
6            6    1.3
7            7    5.3
8            8    4.0
9            9    4.5

In [5]:
df.min()

Study_Hours    0.0
Marks          1.3
dtype: float64

In [6]:
df.max()

Study_Hours    9.0
Marks          5.8
dtype: float64

In [7]:
df.columns

Index(['Study_Hours', 'Marks'], dtype='object')

In [8]:
df.head()

   Study_Hours  Marks
0            0    2.9
1            1    5.8
2            2    4.7
3            3    4.0
4            4    1.8

In [9]:
df.tail()

   Study_Hours  Marks
5            5    1.8
6            6    1.3
7            7    5.3
8            8    4.0
9            9    4.5

In [12]:
df['Marks'].mean()

np.float64(3.6099999999999994)

In [13]:
df['Marks'].mode()

0    1.8
1    4.0
Name: Marks, dtype: float64

In [14]:
df['Marks'].median()

4.0

In [15]:
df['Marks'].std()

1.5751190431202335

In [16]:
df['Marks'].var()

2.481

In [18]:
df['Marks'].corr(df['Study_Hours'])

np.float64(-0.038443448034249726)